@model IEnumerable<AdminWebSite.Models.CountryViewModel>

@{
    ViewBag.Title = "Список країн";
}

<h2>Країни</h2>

<p>
    @*<a href="@Url.Action("Create")">Create New</a>*@
    @Html.ActionLink("Додати нову країну", "Create")
</p>
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                @*@Html.ActionLink("редагувати", "Edit", new { id = item.Id })*@ 
            </td>
            <td>
                @Html.ActionLink("Переглянути деталі", "Details", new { id = item.Id }) 
            </td>
            <td>
                @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
